{% set active_page = "" %}
{% extends "layout.html" %}

{% block content %}


<div class="span3" class="center">
    <img src="http://1.gravatar.com/avatar/866780824d342d7a6acff285649fab16?s=250&amp;r=pg&amp;d=mm">
    <div class="center">
        <a href="/out/twitter">Twitter</a> | 
        <a href="/out/linkedin">LinkedIn</a> | 
        <a href="/out/blog">Blog</a>
    </div>
</div>

<div class="span7">

    <h3>About the researcher</h3>

    <p>Lalita ‘Lally’ D’Cruze is a final year BSc IT student studying at Blackpool & The Fylde College. Originally from South London she has spent the last 5 years living, studying and working on the Fylde Coast.</p>

    <h3>About the research</h3>

    <p>The idea for the dissertation stemmed from the realisation that many users freely provide private data to websites, which appear ‘trustworthy’ through design.</p>

    <h3>About the questionnaire</h3>

    <p>The questionnaire should take approximately 5-10 minutes to complete and is made up of three sections; each of which have a slightly different appearance. You are asked to answer a selection of questions in section one and two and in section three you will be asked to evaluate your experience of the first two sections. You will also be asked for your age, gender, location &amp; experience - please be honest and accurate with this information. </p>
    <a href="/questionnaire" class="btn btn-primary pull-right">Take Questionnaire</a>

    <h3 style="clear:both">Thank you message</h3>

    <p>There are a long list of people who have helped me not only with this dissertation, but in achieving my degree. To all those at local events who offered new angles and insights, to the academic staff at the college and other institutes who have published or presented their work, to my colleagues, classmates and challengers, I’d like to say thank you. I would also like to thank my family and loved ones for supporting me throughout my studies, and for helping me to believe everyday that I can achieve whatever I set out to.</p>

</div>



{% endblock %}
