{% extends "layout.html" %}

{% block content %}
<h2>Thankyou</h2>

<p>Thank you for taking the time to help, find out about, or share this project. In order to present the best findings it will take as many responses as possible from the broadest range of users. If you are able to pass this questionnaire along to your friends, colleagues, classmates or family I would be extremely grateful.</p>


<style>
.shareme { position: relative; width: 230px; margin: auto; }
.shareme iframe{
    display: inline-block;
    margin: 15px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.fb-share-button iframe {
    left: 70px;
}


</style>
<div class="shareme">
<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-lang="en" data-text="I just helped out @lallyd with her dissertation, you can too by completing the questionnaire at" data-url="http://disso.oodelallyd.com">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a class="fbshare" name="fb_share" type="box_count" share_url="http://dissertation.oodelallyd.com" href="http://www.facebook.com/sharer.php">Share</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
{% endblock %}
