<div class="row">
    <fieldset>
        <label class="question">{{ question.title }}</label>
        {% for answer in ['Yes', 'No'] %}
        <label {%if question.answers|length < 5 %}class="hori"{%endif%} for="q{{question.id}}_{{loop.index}}"><input id="q{{question.id}}_{{loop.index}}" type="radio" name="q{{question.id}}[]" value="{{answer}}" /> {{answer}}</label>
        {% endfor %}
        <br /><br />
        <label class="question">If yes, how frequently?</label>
        {% for answer in ['Daily','Weekly','Monthly','Anually'] %}
        <label {%if question.answers|length < 5 %}class="hori"{%endif%} for="q{{question.id}}_y_{{loop.index}}"><input id="q{{question.id}}_y_{{loop.index}}" type="radio" name="q{{question.id}}y[]" value="{{answer}}" /> {{answer}}</label>
        {% endfor %}
        <br /><br />
        <label class="question">If no, please indicate why</label>
        <textarea class="six" type="text" name="q{{ question.id }}n"></textarea>
    </fieldset>
</div>
